h1{
    text-align: center;
}

h3{
    text-align: center;
}


#loginBox{
    width: 500px;
    margin: 0 auto;
}

fieldset{
    width: 500px;
}

legend{
    font-size: 20px;
}

label{
    text-align: right;
    width: 100px;
    float: left;
    font-weight:bold;
}

input{
    width:200px;
}