      header{
          /* Colouring */
          background-color: cornflowerblue;

          /* contents */
          height: 200px;
          width: 300px;

          /* Padding */
          padding-left: 30px;
          padding-top: 10px;

          /*Border */
          border-color: darkorchid;
          border-style: solid;
          border-width: 5px;

          /* Padding */
          padding-top: 30px;
          padding-bottom: 10px;
          margin-left:auto;
          margin-right:auto;
      }

      #noMaxWidth{
          width: 1000px;
          background-color: burlywood;
      }

      #hasMaxWidth{
          width: 1000px;
          background-color: burlywood;
      }

      #standardText{
          background-color:aqua;
      }

      #positionedText{
          background-color: yellowgreen;
          left: 50px;
          top: 100px;
      }

      #mugContainerr {
          width: 100px;
          height: 100px;
          background-color: gold;
      }